# Name: test
Plugins>Orthanc, "Launch anonymization", org.petctviewer.anonymize.VueAnon
Plugins>Orthanc, "Orthanc Import", org.petctviewer.importdicom.ImportDCM
Plugins>Orthanc, "Orthanc Setup", org.petctviewer.setup.ConnectionSetup
Plugins>Orthanc, "Orthanc Query", org.petctviewer.query.VueRest